<section class="content">
    <header class="content__title">
        <h1>Lista eventos</h1>

        <div class="actions">
            <a href="#" class="actions__item zmdi zmdi-plus-circle codeGenerator" data-id="{$event_id}"></a>
        </div>
        <!-- 
        <div class="actions">
            <a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>

             <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Manage Widgets</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div> 
        </div> -->
    </header>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Codigos externos</h4>
            <h6 class="card-subtitle">Puede ver desde aquí los códigos existentes asociados a un evento.</h6>

            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Codigo de acceso</th>
                            <th>Usado</th>
                            <th>Fecha de uso</th>
                            <th>Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop=$codes as $code}
                        <tr style="{if="!empty($code['fecha_activacion'])"}background-color: pink;{/if}">
                            <th scope="row">{$code['id_codigo']}</th>
                            <td>{$code['codigo_acceso']}</td>
                            <td>{if="!empty($code['fecha_activacion'])"}SI{else}No{/if}</td>
                            <td>{$code['fecha_activacion']}</td>
                            <td>{if="!empty($code['id_user'])"}<a href="/users_profile/{$code['id_user']}">Ver</a>{/if}</td>
                            <td>
                                <div class="dropdown actions__item">
                                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" data-id="{$code['id_codigo']}" class="dropdown-item eliminarCodigo"
                                            style="background-color: pink">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>