<section class="content">
    <header class="content__title">
        <h1>Lista eventos</h1>
<!-- 
        <div class="actions">
            <a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>

             <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Manage Widgets</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div> 
        </div> -->
    </header>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stands</h4>
            <h6 class="card-subtitle">Puede visualizar, agregar y eliminar stands, además de ver los usuarios que realizaron check-in.</h6>

            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Logo</th>
                            <th>Organizador</th>
                            <th>Checkins</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop=$stands as $stand}
                        <tr>
                            <th scope="row">{$stand->id_stand}</th>
                            <td>{$stand->name}</td>
                            <td><img src="{$stand->logo}" width="50" height="50" /></td>
                            <td>{$stand->getOrganizador()->email}</td>
                            <td>{$stand->countCheckins()}</td>
                            <td>
                                <div class="dropdown actions__item">
                                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/events_checkins/{$stand->id_stand}" class="dropdown-item">Checkins</a>
                                        <a href="/events_stand_form/{$stand->id_stand}" class="dropdown-item eliminarStands" data-id="{$stand->id_stand}">Editar</a>
                                        <a href="#" data-id="{$stand->id_stand}" class="dropdown-item" style="background-color: pink">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>