<section class="content">
    <header class="content__title">
        <h1>Lista usuarios</h1>
<!-- 
        <div class="actions">
            <a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>

             <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Manage Widgets</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div> 
        </div> -->
    </header>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <h6 class="card-subtitle">Puede observar la lista de usuarios a continuación.</h6>

            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Ultimo acceso</th>
                            <th>Fecha registro</th>
                            <th>Busco</th>
                            <th>Ofrezco</th>
                            <th>Premium</th>
                            <th>Bloqueado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop=$users as $user}
                        <tr style="{if="$user->is_admin"}font-weight: bolder;{/if} {if="$user->locked"}background-color: pink;{/if}">
                            <th scope="row">{$user->id_user}</th>
                            <td>{$user->first_name} {$user->last_name}</td>
                            <td>{$user->email}</td>
                            <td>{$user->getFormattedLastLogin()}</td>
                            <td>{$user->getFormattedSignupDate()}</td>
                            <td>{$user->busco}</td>
                            <td>{$user->ofrezco}</td>
                            <td>
                                {if="$user->is_premium"}
                                <b>SI</b>
                                {else}
                                NO
                                {/if}
                            </td>
                            <td>
                                {if="$user->locked"}
                                <b>SI</b>
                                {else}
                                NO
                                {/if}
                            </td>
                            <td>
                                <div class="dropdown actions__item">
                                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/users_profile/{$user->id_user}" class="dropdown-item">Ver perfil</a>

                                        {if="$user->locked"}
                                        <a href="#" class="dropdown-item unlockUser" data-id="{$user->id_user}">Desbloquear</a>
                                        {/if}

                                        {if="$user->is_admin"}
                                        <a href="#" class="dropdown-item removeAdmin" data-id="{$user->id_user}">Quitar administrador</a>
                                        {else}
                                        <a href="#" class="dropdown-item doAdmin" data-id="{$user->id_user}">Hacer administrador</a>
                                        {/if}

                                        {if="$user->is_premium"}
                                        <a href="#" class="dropdown-item remPremium" data-id="{$user->id_user}">Quitar premium</a>
                                        {else}
                                        <a href="#" class="dropdown-item doPremium" data-id="{$user->id_user}">Dar premium</a>
                                        {/if}

                                        <a href="/user_share/{$user->id_user}" class="dropdown-item">Compartir contacto</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>