<section class="content">
    <header class="content__title">
        <h1>Compartir usuario</h1>
    </header>
    <div class="card">
        <form method="post">
            <div class="title">Contacto:</div>
            <div class="SpecVcard">
                <div class="profile_picture">
                    <img src="{$user_profile->picture_url}" />
                    <div class="infoBlock">
                        <span>{$user_profile->first_name} {$user_profile->last_name}</span>
                        <div class="busco">
                            {$user_profile->busco}
                        </div>
                        <div class="ofrezco">
                            {$user_profile->ofrezco}
                        </div>
                        <button>+</button>
                    </div>
                </div>
                <div class="mensaje">
                    <textarea name="mensaje">Mensaje que desea adjuntar al contacto</textarea>
                </div>
            </div>
            <div class="title">Enviar a:</div>
            <div class="form-group">
                <select name="target" id="targets" class="form-control">
                    {loop=$users as $usuario}
                    <option value="{$usuario->id_user}">{$usuario->email} | {$usuario->first_name} {$usuario->last_name}
                    </option>
                    {/loop}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</section>